.city {
  composes: border from global;
  composes: br-default from global;
  position: relative;
  padding-bottom: 1rem;
  display: flex;
  flex-direction: column;
}

.imageWrapper {
  background-color: var(--grey-400);
  border-radius: inherit;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: -1rem;
  flex-grow: 1;
}

.city img {
  width: 100%;
  border-radius: inherit;
  height: 150px;
  object-fit: cover;
}

.spaceApart {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  background-color: white;
  border-radius: 1rem;
  padding: 0.5rem;
  padding-top: 1rem;
  overflow-wrap: anywhere;
}

.city h3 {
  margin: 0;
}

.city p {
  padding: 0 0.5rem;
  margin: 0;
}

.button {
  display: inline-grid;
  padding: 0.75rem;
  border: none;
  background-color: transparent;
  color: inherit;
  min-width: 44px;
  min-height: 44px;
  place-content: center;
  z-index: 2;
}

.favorite {
  composes: button;
  padding: 0;
}

.cancel {
  composes: button;
  position: absolute;
  top: 0;
  right: 0;
  transform: translateY(-50%);
}

.span {
  padding: 0.5rem;
  line-height: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.wrapper {
  composes: br-circle from global;
  position: relative;
  color: red;
  background: #fbdcdc;
  display: inline-block;
  width: 2rem;
  height: 2rem;
}

.stretchedLink::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  content: '';
  background-color: rgba(0, 0, 0, 0);
}
