@import './resets.css';
@import './screen-reader.css';
@import './variables.css';

@import-normalize;

body {
  margin: 0;
  font-family:  'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--grey-500);
  background-color: var(--grey-100);
  font-size: 1rem;
}
